<vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="currentMedia">
    <!--<vg-overlay-play></vg-overlay-play>-->
    <vg-buffering></vg-buffering>

    <vg-controls>
        <div class="icon play-pause" (click)="playOrPause()" [ngClass]="{'vg-icon-play_arrow': paused, 'vg-icon-pause': !paused}"></div>
        <!--<vg-play-pause></vg-play-pause>-->
        <vg-playback-button *ngIf="currentRole.hasControlAccess"></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar *ngIf="currentRole.hasControlAccess">
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="media" [vgMaster]="true" preload="auto" crossorigin>
        <source src="{{currentMedia.href}}" type="{{currentMedia.type}}">
    </video>
</vg-player>
<form *ngIf="authenticationService.currentUser.role.hasControlAccess">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg" for="file">File</label>
        <div class="col-sm-7">
            <input type="file" id="file" (change)="fileChangeEvent($event.target.files)"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg" for="video">Current video</label>
        <div class="col-sm-7">
            <select id="video" class="form-control" (change)="mediaChangeEvent($event.target.value)">
                <option *ngFor="let attachment of attachments; let i = index" [value]="i" [selected]="attachment.selected">{{attachment.name}}</option>
            </select>
        </div>
    </div>
</form>