<div class="row">
    <div class="col-xl-6" *ngIf="authenticationService.currentUser.role.name == 'Student'">
        <div class="form-group">
            <input class="form-control" name="answer" [(ngModel)]="answer" (ngModelChange)="onAnswerChange($event)" placeholder="Input answer">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="addAnswer(answer)">Answer</button>
        </div>
    </div>
    <div class="col-xl-6" *ngIf="authenticationService.currentUser.role.name == 'Student'">
        <div class="card" *ngIf="guessedWords.length != 0">
            <ul class="list-group list-group-flush" *ngFor="let word of guessedWords">
                <li class="list-group-item d-flex justify-content-between">{{word.word}}</li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6" *ngIf="authenticationService.currentUser.role.name == 'Teacher'">
        <div class="card" *ngIf="words?.length != 0">
            <ul class="list-group list-group-flush" *ngFor="let word of words; let i = index">
                <li class="list-group-item d-flex justify-content-between" [ngClass]="{'bg-primary text-white' : word.guessed}">{{word.word}}<i class="fa fa-times fa-1" (click)="deleteWord(i)"></i></li>
            </ul>
        </div>
        <div class="form-group">
            <input class="form-control" id="addWord" name="newWord" [(ngModel)]="newWord" placeholder="Input new word">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="addWord(newWord)">Add word</button>
            <button class="btn btn-info" (click)="nextWord()">Next word</button>
        </div>
    </div>
    <div class="col-xl-6" *ngIf="authenticationService.currentUser.role.name == 'Teacher'">
        <div class="card" *ngIf="students?.length !== 0">
            <ul class="list-group list-group-flush" *ngFor="let student of students">
                <li class="list-group-item d-flex justify-content-between">{{student.name}}:{{answers[student.name]}}</li>
            </ul>
        </div>
    </div>
</div>
