
    <div class="col-xl-4">
        <div class="card card-block">
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input class="form-control" type="text" id="name" placeholder="name" formControlName="name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input class="form-control" type="password" id="password" placeholder="password" formControlName="password" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input class="form-control" type="password" id="confirmPassword" placeholder="confirm password" formControlName="confirmPassword" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <select formControlName="role">
                                <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 d-flex">
                            <button class="btn btn-primary" [disabled]="form.invalid">Sign Up</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="form.controls['confirmPassword'].errors?.matchPassword">Passwords doesn't match</div>
                </fieldset>
            </form>
        </div>
    </div>
