h1 Javascript и CSS
h2 1.Помещайте CSS файлы в начале страницы
h2 2.Помещайте javascript в конец страницы
h2 3.Минимизируйте css и javascript
h2 4.Используйте Tree Shaking
h2 5.Используйте CDN для загрузки популярных JavaScript библиотек
h2 6.Используйте css-анимации вместо javascript
img(src="/images/slides/2/2.gif")
img(src="/images/slides/2/2_1.gif")
