h1 async Ğ¸ defer
img(src="/images/slides/3/2.png")
img(src="/images/slides/3/2_1.png")
h2 async
img(src="/images/slides/3/2_2.png")
img(src="/images/slides/3/2_3.png")
h2 defer
img(src="/images/slides/3/2_4.png")
img(src="/images/slides/3/2_5.png")