h1 HTTP/1.1
p Спецификация HTTP/1.1 советует, чтобы браузеры параллельно загружали не более 2-х компонентов веб-страницы с одного хоста.
h2 1.Используйте поддомены для параллельного скачивания
h2 2.Склеивайте js-скрипты и css-стили
h2 3.Используйте GZIP-сжатие
img(src="/images/slides/4/4.png")
img(src="/images/slides/4/4_1.jpg")