h1 Изображения
h2 1.Используйте изображения минимального размера
h2 2.Оптимизируйте ваши изображения
h2 3.Используйте CSS3 вместо изображений (<a target="_blank" href="https://codepen.io/cobra_winfrey/pen/NdmgaO">Wolverine</a>)
h2 5.Используйте SVG
h2 6.Используйте preview
h2 7.Применяйте lazy load - ленивую загрузку изображений (<a target="_blank" href="https://www.appelsiini.net/projects/lazyload">lazyload</a>)
h2 8.Используйте CSS-спрайты

img(src="/images/slides/5/5_1.png")
img(src="/images/slides/5/5.png")
