<vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="currentMedia" class="mb-3">
    <!--<vg-overlay-play></vg-overlay-play>-->
    <vg-buffering></vg-buffering>

    <vg-controls>
        <div class="icon play-pause" (click)="playOrPause()" [ngClass]="{'vg-icon-play_arrow': paused, 'vg-icon-pause': !paused}"></div>
        <!--<vg-play-pause></vg-play-pause>-->
        <vg-playback-button *ngIf="currentRole.hasControlAccess"></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar *ngIf="currentRole.hasControlAccess">
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="media" [vgMaster]="true" preload="auto" crossorigin>
        <source src="{{currentMedia.href}}" type="{{currentMedia.type}}">
    </video>
</vg-player>

<div class="form-group row" *ngIf="authenticationService.currentUser?.role.hasControlAccess">
    <label class="col-sm-2 col-form-label col-form-label-lg" for="file">File</label>
    <div class="col-sm-7">
      <input type="file" id="file" ng2FileSelect [uploader]="uploader" *ngIf="!uploader.isUploading" (change)="fileChangeEvent()"/>
      <div class="progress" style="" *ngIf="uploader.isUploading">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
</div>

<ul class="list-group" *ngIf="authenticationService.currentUser?.role.hasControlAccess">
    <li *ngFor="let attachment of attachments" [class.active]="attachment === currentMedia" class="list-group-item d-flex justify-content-between align-items-center">
        {{attachment.name}}
        <div>
            <button type="button" (click)="mediaChangeEvent(attachment)" class="btn btn-info btn-sm">Select</button>
            <button type="button" (click)="mediaDeleteEvent(attachment)" class="btn btn-danger btn-sm ml-2">Delete</button>
        </div>
    </li>
</ul>
